.bd{
    background-color: aqua;
}
.sr{
    margin-top: 80px;
    margin-left: 600px;
    font-size:200%;
}
.t1{
    display:flex;
    margin-top: 50px;
}
.tt1{
      margin-left: 400px;
}
.tt2{
     margin-left: 80px;
}
.tt3{
      margin-left: 70px;
      background-color: blueviolet;
}
.dl{
    margin-top: 80px ;
    margin-left: 520px ;
    border :1px solid black;
    width:fit-content;
    background-color: brown;
}
 #tb{
    border:1px solid black;
    margin-left:500px ;
    margin-top:100px;
  }
