body{
    background-image:linear-gradient(180deg, rgba(255, 0, 234, 0.486), rgba(255, 94, 0, 0.692));
}
.hd{
    text-align: center;
    margin-top: 80px;
    margin-left:50px;
    font-size: 240%;
}
.bx{
    border:1px black solid;
    height:220px;
    width:300px;
    margin-top: 30px;
    margin-left: 550px;
}
.usr{
    margin-top:10px;
    margin-left:15px;
}
.pass{
    margin-top:10px;
    margin-left:15px;
}
.f1{
      margin-left: 14px;
}
.f2{
      margin-left: 14px;
}
.f3{
    margin-top:17px;
    margin-left:70px;
}
